body {
  background: #0a192f;
}

#main-header {
  color: white;
  font-family: "Raleway";
  font-size: 45px;
  text-align: center;
}

#search-bar {
  padding: 20px;
  font-family: "Raleway", "Oswald";
  color: black;
  border-radius: 99px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#search-bar:focus {
  outline: none;
}
